{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "form.html" %}
{% block formcontent %}
<form action="{{url_for("delete", path=pagepath )}}" method="POST" class="form-inline">
  <div class="form-group">
    <label for="message" class="w-150">提交信息</label>
    <input type="text" class="form-control" name="message" id="message" placeholder="删除 {{pagename}}。" value="{{message}}">
  </div>
  <div class="custom-checkbox">
      <input type="checkbox" id="delete-attachments" name="recursive" value="recursive" checked>
      <label for="delete-attachments">递归删除所有附件文件和文件夹</label>
  </div>
  <div class="form-group mt-10">
      <input class="btn btn-danger" type="submit" value="删除">
      <a href="{{ url_for("view", path=pagepath) }}" class="btn" role="button">取消</a>
  </div>
  <div class="form-text">
      <em>注意：撤销删除操作将恢复已删除的文件。</em>
  </div>
</form>
{% endblock %}
