{#- vim: set et ts=8 sts=4 sw=4 ai: -#}
{% extends "page.html" %}

{% block content %}
<div class="card">
    <h2 class="card-title">继续编辑草稿？</h2>

    <div class="mt-5 mb-15">
        <strong>{{pagepath}}</strong> 存在一个草稿版本，保存于 <span title="{{draft_datetime|format_datetime}}">{{draft_datetime|format_datetime("deltanow")}} 前</span>。
    </div>

    <div class="d-flex">
        <form action="{{ url_for("edit", path=pagepath) }}" method="POST" class="mr-15">
            <input type="hidden" name="draft" value="edit" />
            <input class="btn btn-primary" type="submit" name="submit" value="继续编辑草稿" />
        </form>
        <form action="{{ url_for("edit", path=pagepath) }}" method="POST">
            <input type="hidden" name="draft" value="discard" />
            <input class="btn" type="submit" name="submit" value="丢弃草稿" />
        </form>
    </div>
</div>
<table class="table table-inner-bordered">
  <thead>
    <tr>
        <td><em>草稿</em></td>
{% if content %}
      <td>已保存版本</td>
{% endif %}
    </tr>
  </thead>
  <tbody>
    <tr class="align-top">
      <td>{{draft_content|safe}}</td>
{% if content %}
      <td>{{content|safe}}</td>
{% endif %}
    </tr>
  </tbody>
</table>
{% endblock %}
