{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "form.html" %}
{% block formcontent %}
<form action="{{ url_for("register") }}" method="POST" class="form-inline">{# <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% --> #}
  <div class="form-group">
    <label for="email" class="required w-150">邮箱地址</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="you@example.com" value="{{email if email}}" autofocus>
  </div>
  <div class="form-group">
    <label for="password1" class="required w-150">密码</label>
    <input type="password" class="form-control" name="password1" id="password1" placeholder="密码">
  </div>
  <div class="form-group">
    <label for="password2" class="required w-150">确认密码</label>
    <input type="password" class="form-control" name="password2" id="password2" placeholder="确认密码">
  </div>
  <div class="form-group">
      密码必须至少包含8个字符。
  </div>
  <div class="form-group">
    <label for="name" class="required w-150">姓名</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="姓名" value="{{name if name}}">
  </div>
  <input class="btn btn-primary" type="submit" value="注册">
  <a href="{{ url_for("login") }}" class="btn btn-link" role="button">登录</a>
</form>
{% endblock %}
