{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "wiki.html" %}
{% block extra_nav %}
{% endblock %}
{% block menu %}
<a href="{{ url_for("settings") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon">
        <i class="fas fa-address-card"></i>
    </span>
    设置
</a>
{% if has_permission("ADMIN") %}
<a href="{{ url_for("admin") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon" style="min-width: 3rem;">
        <i class="fas fa-cogs"></i>
    </span>
    应用程序设置
</a>
<a href="{{ url_for("admin_sidebar_preferences") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon" style="min-width: 3rem;">
        <i class="fas fa-columns"></i>
    </span>
    侧边栏设置
</a>
<a href="{{ url_for("admin_content_and_editing") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon" style="min-width: 3rem;">
        <i class="fas fa-drafting-compass"></i>
    </span>
    内容和编辑
</a>
<a href="{{ url_for("admin_user_management") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon" style="min-width: 3rem;">
        <i class="fas fa-users"></i>
    </span>
    用户管理
</a>
<a href="{{ url_for("admin_permissions_and_registration") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon" style="min-width: 3rem;">
        <i class="fas fa-users-cog"></i>
    </span>
    权限和注册
</a>
<a href="{{ url_for("admin_mail_preferences") }}" class="sidebar-link sidebar-link-with-icon">
    <span class="sidebar-icon">
        <i class="far fa-envelope"></i>
    </span>
    邮件设置
</a>
{% endif %}
{% endblock %}
{% block content %}
<h2 id="settings">设置</h2>
{#
#}
<div class="card">
<div class="mw-full w-600">
<h2 class="card-title">修改姓名</h2>
<form action="{{url_for("settings")}}" method="POST">
  <div class="form-group">
  <label for="name" class="required">姓名</label>
  <input name="name" type="text" class="form-control" id="name" value="{{current_user.name if current_user.name}}" {% if
    not auth_supported_features['editing'] %}disabled{% endif %}>
    <div class="form-text">
      请注意，修改姓名不会改变编辑历史中的任何内容。
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="更新姓名" {% if not auth_supported_features['editing']
    %}disabled{% endif %}>
</form>
</div>
</div>
{#
#}
{% if auth_supported_features['passwords'] %}
<div class="card">
<div class="mw-full w-600">
<h2 class="card-title">修改密码</h2>
<form action="{{url_for("settings")}}" method="POST">
{% if current_user.password_hash and current_user.password_hash.startswith("sha256$") %}
  <div class="form-group">
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">请更新您的密码</h4>
  用于存储您密码的哈希方法已过时。更新密码将解决此问题。
</div>
  </div>
{% endif %}
  <div class="form-group">
    <label for="password" class="required">新密码</label>
    <input name="password1" type="password" class="form-control" id="password" placeholder="密码">
    <div class="form-text">
      长度必须至少为8个字符。
    </div>
  </div>
  <div class="form-group">
    <label for="confirm-password" class="required">确认密码</label>
    <input name="password2" type="password" class="form-control" id="confirm-password" placeholder="确认密码">
  </div>
  <input class="btn btn-primary" type="submit" value="更新密码">
</form>
</div>
</div>
{% endif %}
{#
#}
{% if config.GIT_WEB_SERVER %}
<div class="card">
<div class="mw-full w-600">
<h2 class="card-title">Git 仓库访问</h2>

 <div class="form-inline">
    <label for="git-url" class="text-monospace">git clone</label>
    <div class="input-group">
        <input type="text" class="form-control" value="{{url_for("dotgit", _external=True)}}" id="git-url">
      <div class="input-group-append">
        <button class="btn" onclick="navigator.clipboard.writeText('{{url_for("dotgit", _external=True)}}')"><i class="fas fa-copy"></i></button>
      </div>
    </div>
  </div>
  <div class="form-text">
      {% if has_permission('READ') %}
      您当前的权限允许您进行拉取{% if has_permission('UPLOAD') %}和推送
      {%- endif %}操作。当Git客户端询问时，请使用您的邮箱地址作为用户名，密码作为密码。
      {% endif %}
    </div>
</div>
</div>
{% endif %}
{#
#}
{% endblock %}
