{# vim: set et ts=8 sts=2 sw=2 ai: #}
{% extends "admin.html" %}
{% block content %}
<div class="col-sm-12 col-md-12 col-lg-10">
<div class="card mx-auto mx-lg-20">
  <h2 class="card-title">
    {% if user.id %}
    编辑用户
    {% else %}
    添加用户
    {% endif %}
  </h2>
    <form action="{{ url_for("user", uid=user.id) }}" method="POST" class="form-inline">
      <div class="form-group">
        <label for="name" class="required w-md-200">姓名</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="" value="{{user.name if user.name}}">
      </div>
      <div class="form-group">
        <label for="name" class="required w-md-200">邮箱</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="" value="{{user.email if user.email}}">
      </div>
      <div class="form-group">
        <label for="password1" class="w-md-200">密码</label>
        <input type="password" class="form-control" name="password1" id="password1" placeholder="" value="">
      </div>
      <div class="form-group">
        <label for="password2" class="w-md-200">确认密码</label>
        <input type="password" class="form-control" name="password2" id="password2" placeholder="" value="">
      </div>
    <h3 class="card-title">标志和权限</h3>
    <div class="container-fluid">
      <div class="row">
    {%
      for label, name, value, note, new_row in [
        (
          "邮箱已确认","email_confirmed",
          user.email_confirmed,
          "如果未设置，用户需要确认邮箱地址才能登录。" if config.EMAIL_NEEDS_CONFIRMATION else "用户不需要确认邮箱地址。",
          False
        ),
        (
          "已批准","is_approved",user.is_approved,
          "自动批准已启用。" if config.AUTO_APPROVAL else "此标志必须由管理员设置。",
          True
        ),
        ("读取","allow_read",user.allow_read,"", False),
        ("写入","allow_write",user.allow_write,"", False),
        ("上传","allow_upload",user.allow_upload,"", True),
        ("管理员","is_admin",user.is_admin,"被标记为管理员的用户始终具有<strong>所有</strong>权限。", False),
      ]
    %}
    <div class="col-sm-4 pr-5">
      <div class="form-group">
        <div class="custom-checkbox">
          <input type="checkbox" id="{{name}}" name="{{name}}" value="1" {{"checked=\"checked\"" if value }}>
          <label for="{{name}}" class="">{{ label }}</label>
          {% if note %}
          <div class="pt-5" style="display:block;">
            <i>{{ note|safe }}</i>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {%if new_row %}
      </div>
      <div class="row">
    {% endif %}
  {% endfor %}
      </div> {# row #}
    </div> {# container-fluid #}
      {# #}
      <input class="btn btn-primary" type="submit" value="{% if user.id %}更新{% else %}添加{% endif %}">
      <a href="{{ url_for("admin_user_management") }}" class="btn" role="button">取消</a>
    </form>
</div>{# card #}
</div>{# w-600 container #}

{% if user.id %}
<div class="col-sm-12 col-md-12 col-lg-10">
<div class="card mx-auto m-lg-20">
    <h2 class="card-title">删除用户</h2>
    <form action="{{ url_for("user", uid=user.id) }}" method="POST" class="form-inline">{# class="w-400 mw-full" <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% --> #}
      <div class="form-group">
        <div class="custom-checkbox">
          <input type="checkbox" id="agree-to-terms" name="delete" value="1">
          <label for="agree-to-terms">请勾选以确认删除 <strong>{{user.name}}</strong>。</label>
        </div>
      </div>
      <input class="btn btn-danger" type="submit" value="删除">
    </form>
</div>{# card #}
</div>{# w-600 container #}
{% endif %}
{% endblock %}
